  <!-- Begin of navigation bar .navbar-top -->
  <header class="navbar-top navbar navbar-a navbar-expand-lg navbar-dark ">
    <nav class="container-fluid px-0">

      <!-- Logo -->
      <a class="navbar-brand" href="index.html">
        <span class="logo">
          <img class="light-logo" src="../../../../assets/img/logo.png" alt="سازه پیوند">
        </span>
        <span class="text ms-2">
          <span class="line strong">SPC</span>
          <span class="line sub">گروه صنعتی سازه پیوند</span>
        </span> 
      </a>

      <!-- Menu button -->
      <button class="navbar-toggler order-lg-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarMenuCollapse" aria-controls="navbarMenuCollapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="icon icon-menu icon-menu-c">
          <span class="bars">
            <span class="bar1"></span>
            <span class="bar2"></span>
          </span>
        </span>
      </button>

      <!-- Navigation menu -->
      <div class="collapse navbar-collapse order-lg-1" id="navbarMenuCollapse">
        <div class="navbar-menu-wrapper">
          <div class="nav-body">
            <!-- Menu links at top -->
    
            <!-- Fullscreen menu on large devices -->
            <div class="nav-fullscreen-lg">
              <ul class="navbar-nav nav">
                <li class="nav-item">
                  <a class="nav-link" href="#DATA_spc">سازه پیوند</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#DATA_industries">فعالیت ها</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#DATA_services">توانمندی ها</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#DATA_rd">تحقیق و توسعه</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#DATA_contact">تماس با ما</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="#">Production</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">CRM</a>
                </li> -->
              </ul>
            </div>

            <!-- Call to action buttons -->
            <!-- <ul class="navbar-nav nav-cta">
              <li class="nav-item">
                <a class="btn btn-outline btn-white rounded-pill" href="#place_an_url">
                  <span class="text">فراخوانی برای اقدام</span>
                </a>
              </li>
            </ul> -->
          </div>

          <!-- Nav footer of small devices -->
          <div class="nav-footer-md">
            <nav class="nav-social nav-social-a">
              <ul>
                <li class="nav-item">
                  <a class="nav-link btn" href="#">
                    <span class="icon">
                      <i class="ion ion-logo-instagram"></i>
                    </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link btn" href="#">
                    <span class="icon">
                      <i class="ion ion-logo-twitter"></i>
                    </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link btn" href="#">
                    <span class="icon">
                      <i class="ion ion-logo-dribbble"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <!-- End of navigation bar .navbar-top -->
