    <!-- BEGIN OF page footer -->
    <footer id="site-footer" class="footer-page ">
        <!-- Left content -->
        <div class="footer-right">
          <p class="note text-sm"><a href="#"><span class="marked">درباره</span></a>
          </p>
          <p class="note text-sm footer-padding-language"><a href="#"><span class="marked">EN</span></a>
          </p>        
        </div>
        <!-- Right content -->
        <div class="footer-left">
          <nav class="nav-social nav-social-a">
            <ul>
              <li class="nav-item">
                <a class="nav-link btn" href="#">
                  <span class="icon">
                    <i class="ion ion-logo-instagram"></i>
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn" href="#">
                  <span class="icon">
                    <i class="ion ion-logo-twitter"></i>
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn" href="#">
                  <span class="icon">
                    <i class="ion ion-logo-linkedin"></i>
                  </span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </footer>
      <!-- END OF site footer -->