  <!-- Begin of sidebar .nav-sidebar -->
  <nav class="nav-sidebar d-none d-xl-block">
    <ul class="nav-wrapper fp-menu">
      <li class="nav-item nav-list anim-ready anim-visible" data-menuanchor="DATA_spc">
        <a href="#DATA_spc" class="nav-link">
          <span class="text">سازه پیوند</span>
        </a>
      </li>
      <li class="nav-item nav-list anim-ready anim-visible" data-menuanchor="DATA_industries">
        <a href="#DATA_industries" class="nav-link">
          <span class="text">فعالیت ها</span>
        </a>
      </li>
      <li class="nav-item nav-list anim-ready anim-visible" data-menuanchor="DATA_services">
        <a href="#DATA_services" class="nav-link">
          <span class="text">توانمندی ها</span>
        </a>
      </li>
      <li class="nav-item nav-list anim-ready anim-visible" data-menuanchor="DATA_rd">
        <a href="#DATA_rd" class="nav-link">
          <span class="text">تحقیق و توسعه</span>
        </a>
      </li>
      <li class="nav-item nav-list anim-ready anim-visible" data-menuanchor="DATA_contact">
        <a href="#DATA_contact" class="nav-link">
          <span class="text">تماس با ما</span>
        </a>
      </li>           
    </ul>
  </nav>
  <!-- End of sidebar .nav-sidebar -->
