  <!-- BEGIN OF page main content -->
  <main class="page-main page-fullpage fullpage-anim" id="mainpage">

    <section class="section hero-a fp-auto-height-responsive" data-section="DATA_spc">
      <div class="section-title title-anim">
        <div data-anim-visible='zoom-in'>
          <h2 class="text">سازه پیوند</h2>
        </div>
      </div>
      <div class="section-body">
        <div class="hero-content section-content container content-width anim">
          <div class="item row justify-content-between">
            <div class="RESIZEAbout content-col col-12 col-md-8 font-mainMenu">
              <div class="col-12 col-lg-4">
                <div class="row justify-content-lg-start">
                  <div class="col-auto">
                    <nav class="nav-list" data-anim-visible='fade'>
                      <ul class="nav flex-column" style="padding-right:0 !important;">
                        <li class="nav-item">
                          <a class="nav-link" href="#" onclick="ShowContentAbout()">سازه پیوند در یک نگاه</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#" onclick="ShowContentCharts()">چارت سازمانی</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#" onclick="ShowContentCertification()">گواهینامه ها</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#" onclick="ShowContentCorp()">شرکت های وابسته</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#" onclick="ShowContentWorkWithUs()">همکاری با ما</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
            <!-- سازه پیوند در یک نگاه -->
            <div class="content-col col-12 col-sm-10 col-md-10" id="AboutContent" style="display:none">
              <div class="section-content">
                <div class="row mt-4">
                  <div class="col col-12 col-lg-12">
                    <div class="item-list row row-cols-1 row-cols-md-2 row-cols-lg-12 g-4 anim-list">
                      <div class="col">
                        <div class="item item-pricing-a rounded-sm anim-ready" data-anim-visible="">
                          <ul class="list-feature fp-sc fs-medium">
                            <li>
                              <div id="fullpage" class="title-desc">
                                <p id="EO-Font" class="scrollContent">
                                  سازه پیوند در یک نگاه
                                </p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- چارت سازمانی -->
            <div class="content-col col-12 col-sm-10 col-md-10" id="ContentCharts" style="display:none">
              <div class="section-content">
                <div class="row">
                  <div class="col col-12 col-lg-12">
                    <!-- item list -->
                    <div class="item-list row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 anim-list">
                      <div class="col">
                        <a class="item item-image-f anim-ready anim-visible" href="item.html#or_an_url" data-anim-visible="fade">
                          <div class="item-img rounded-md">
                            <img class="fit" src="../../../../assets/img/items/Charts-for-webSite.webp" alt="گروه صنعتی سازه پیوند">
                          </div>
                          <div class="item-body item-body-glass rounded-md">
                            <div class="desc">
                              <div class="row align-items-end">
                                <div class="col">
                                  <h4 class="title">چارت سازمانی</h4>
                                  <p class="category mb-0">
                                    <span class="text-muted-2">گروه صنعتی سازه پیوند</span>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>                        
                      <!-- <div class="col">
                        <div class="item item-image-c rounded-md anim-ready anim-visible" data-anim-visible="fade">
                          <div class="item-img item-body-glass">
                            <img class="fit" src="img/items/Charts-for-webSite.webp" alt="گروه صنعتی سازه پیوند">
                          </div>
                        </div>                          
                      </div> -->
                    </div>      
                  </div>
                </div>
              </div>
            </div>              
            <!-- گواهینامه ها -->
            <div class="content-col col-12 col-lg-12" id="ContentCertification" style="display:none">
              <div class="section-content container content-width anim">
                <div class="row">
                  <!-- ردیف اول -->
                  <div class="col col-12 col-lg-12">
                    <!-- item list -->
                    <div class="item-list row row-cols-1 row-cols-md-3 row-cols-lg-4 anim-list">
                      <div class="col">
                        <!-- an item ISO/TS 29001:2010 -->
                        <div class="item item-image-c rounded-md anim-ready anim-visible" data-anim-visible='fade'>
                          <img class="fit item-image-c rounded-md" src="../../../../assets/img/items/certificate1.jpg" alt="گواهینامه ISO/TS 29001:2010">
                          <div class="item-body mt-4">
                            <!-- <p class="text-center">گروه صنعتی سازه پیوند</p> -->
                            <p class="FONT-EN-SFProDisplay-Light text-center">ISO/TS 29001:2010</p>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <!-- an item ISO 9001:2015 -->
                        <div class="item item-image-c rounded-md anim-ready anim-visible" data-anim-visible='fade'>
                          <img class="fit item-image-c rounded-md" src="../../../../assets/img/items/certificate2.jpg" alt="گواهینامه ISO 9001:2015">
                          <div class="item-body mt-4">
                            <!-- <p class="text-center">گروه صنعتی سازه پیوند</p> -->
                            <p class="FONT-EN-SFProDisplay-Light text-center">ISO 9001:2015</p>
                          </div>
                        </div>
                      </div>  
                      <div class="col">
                        <!-- an item HSE-MS -->
                        <div class="item item-image-c rounded-md anim-ready anim-visible" data-anim-visible='fade'>
                          <img class="fit item-image-c rounded-md" src="../../../../assets/img/items/certificate3.jpg" alt="گواهینامه HSE-MS">
                          <div class="item-body mt-4">
                            <!-- <p class="text-center">گروه صنعتی سازه پیوند</p> -->
                            <p class="FONT-EN-SFProDisplay-Light text-center">HSE-MS</p>
                          </div>
                        </div>
                      </div>                                                                                                             
                    </div>
                  </div>
                  <!-- ردیف دوم -->
                  <div class="col col-12 col-lg-12">
                    <!-- item list -->
                    <div class="item-list row row-cols-1 row-cols-md-3 row-cols-lg-4 anim-list">
                      <div class="col">
                        <!-- an item ISO/TS 29001:2010 -->
                        <div class="item item-image-c rounded-md anim-ready anim-visible" data-anim-visible='fade'>
                          <img class="fit item-image-c rounded-md" src="../../../../assets/img/items/certificate4.jpg" alt="گواهینامه ISO/TS 29001:2010">
                          <div class="item-body mt-4">
                            <!-- <p class="text-center">گروه صنعتی سازه پیوند</p> -->
                            <p class="FONT-FA-MD text-center">گواهینامه صلاحیت پیمانکاری</p>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <!-- an item ISO 9001:2015 -->
                        <div class="item item-image-c rounded-md anim-ready anim-visible" data-anim-visible='fade'>
                          <img class="fit item-image-c rounded-md" src="../../../../assets/img/items/certificate5.jpg" alt="گواهینامه ISO 9001:2015">
                          <div class="item-body mt-4">
                            <!-- <p class="text-center">گروه صنعتی سازه پیوند</p> -->
                            <p class="FONT-FA-MD text-center">جواز تأسیس توسعه ای</p>
                          </div>
                        </div>
                      </div>  
                      <div class="col">
                        <!-- an item HSE-MS -->
                        <div class="item item-image-c rounded-md anim-ready anim-visible" data-anim-visible='fade'>
                          <img class="fit item-image-c rounded-md" src="../../../../assets/img/items/certificate6.jpg" alt="گواهینامه HSE-MS">
                          <div class="item-body mt-4">
                            <!-- <p class="text-center">گروه صنعتی سازه پیوند</p> -->
                            <p class="FONT-FA-MD text-center">گواهینامه بهره برداری</p>
                          </div>
                        </div>
                      </div>                                                                                                             
                    </div>
                  </div>                    
                </div>
              </div>
            </div>
            <!-- شرکت های وابسته -->
            <div class="content-col col-12 col-sm-10 col-md-10" id="ContentCorp" style="display:none">
              <div class="section-content">
                <div class="row mt-4">
                  <div class="col col-12 col-lg-12">
                    <div class="item-list row row-cols-1 row-cols-md-2 row-cols-lg-12 g-4 anim-list">
                      <div class="col">
                        <div class="item item-pricing-a rounded-sm anim-ready" data-anim-visible="">
                          <ul class="list-feature fp-sc fs-medium">
                            <li>
                              <div id="fullpage" class="title-desc">
                                <p id="EO-Font" class="scrollContent">
                                  شرکت های وابسته
                                </p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- همکاری با ما -->
            <div class="content-col col-12 col-sm-10 col-md-10" id="ContentWorkWithUs" style="display:none">
              <div class="section-content">
                <div class="row mt-4">
                  <div class="col col-12 col-lg-12">
                    <div class="item-list row row-cols-1 row-cols-md-2 row-cols-lg-12 g-4 anim-list">
                      <div class="col">
                        <div class="item item-pricing-a rounded-sm anim-ready" data-anim-visible="">
                          <ul class="list-feature fp-sc fs-medium">
                            <li>
                              <div id="fullpage" class="title-desc">
                                <p id="EO-Font" class="scrollContent">
                                  همکاری با ما
                                </p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </section>

    <section class="section hero-a fp-auto-height-responsive" data-section="DATA_industries">
      <div class="section-title title-anim">
        <div data-anim-visible='zoom-in'>
          <h2 class="text">فعالیت ها</h2>
        </div>
      </div>
      <div class="section-body">
        <div class="hero-content section-content container content-width anim">
          <div class="item row justify-content-between">
            <div class="RESIZEAbout content-col col-12 col-md-8 font-mainMenu">
              <div class="col-12 col-lg-5">
                <div class="row justify-content-lg-start">
                  <nav class="nav-list" data-anim-visible='fade'>
                    <ul class="nav flex-column" style="padding-right:0 !important;">
                      <li class="nav-item">
                        <a class="nav-link" href="#" onclick="ShowContent_Foolad()">صنایع فولاد</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#" onclick="ShowContent_SanayeToolid()">صنایع تولید و فرآوری مواد
                          معدنی</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#" onclick="ShowContent_SanayeNaft()">صنایع نفت، گازو پتروشیمی</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#" onclick="ShowContent_SanayeShimiyaee()">صنایع شیمیایی</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#" onclick="ShowContent_SanayeSakhteman()">صنایع ساختمان</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <!-- صنایع فولاد -->
            <div class="content-col col-12 col-sm-10 col-md-10" id="Content_Foolad" style="display:none">
              <div class="section-content">
                <div class="row mt-4">
                  <div class="col col-12 col-lg-12">
                    <div class="item-list row row-cols-1 row-cols-md-2 row-cols-lg-12 g-4 anim-list">
                      <div class="col">
                        <div class="item item-pricing-a rounded-sm anim-ready" data-anim-visible="">
                          <ul class="list-feature fp-sc fs-medium">
                            <li>
                              <div id="fullpage" class="title-desc">
                                <p id="EO-Font" class="scrollContent">
                                  صنایع فولاد
                                </p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- صنایع تولید و فرآوری مواد معدنی -->
            <div class="content-col col-12 col-sm-10 col-md-10" id="Content_SanayeToolid" style="display:none">
              <div class="section-content">
                <div class="row mt-4">
                  <div class="col col-12 col-lg-12">
                    <div class="item-list row row-cols-1 row-cols-md-2 row-cols-lg-12 g-4 anim-list">
                      <div class="col">
                        <div class="item item-pricing-a rounded-sm anim-ready" data-anim-visible="">
                          <ul class="list-feature fp-sc fs-medium">
                            <li>
                              <div id="fullpage" class="title-desc">
                                <p id="EO-Font" class="scrollContent">
                                  صنایع تولید و فرآوری مواد معدنی
                                </p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- صنایع نفت، گازو پتروشیمی -->
            <div class="content-col col-12 col-sm-10 col-md-10" id="Content_SanayeNaft" style="display:none">
              <div class="section-content">
                <div class="row mt-4">
                  <div class="col col-12 col-lg-12">
                    <div class="item-list row row-cols-1 row-cols-md-2 row-cols-lg-12 g-4 anim-list">
                      <div class="col">
                        <div class="item item-pricing-a rounded-sm anim-ready" data-anim-visible="">
                          <ul class="list-feature fp-sc fs-medium">
                            <li>
                              <div id="fullpage" class="title-desc">
                                <p id="EO-Font" class="scrollContent">
                                  صنایع نفت، گازو پتروشیمی
                                </p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- صنایع شیمیایی -->
            <div class="content-col col-12 col-sm-10 col-md-10" id="Content_SanayeShimiyaee" style="display:none">
              <div class="section-content">
                <div class="row mt-4">
                  <div class="col col-12 col-lg-12">
                    <div class="item-list row row-cols-1 row-cols-md-2 row-cols-lg-12 g-4 anim-list">
                      <div class="col">
                        <div class="item item-pricing-a rounded-sm anim-ready" data-anim-visible="">
                          <ul class="list-feature fp-sc fs-medium">
                            <li>
                              <div id="fullpage" class="title-desc">
                                <p id="EO-Font" class="scrollContent">
                                  صنایع شیمیایی
                                </p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- صنایع ساختمان -->
            <div class="content-col col-12 col-sm-10 col-md-10" id="Content_SanayeSakhteman" style="display:none">
              <div class="section-content">
                <div class="row mt-4">
                  <div class="col col-12 col-lg-12">
                    <div class="item-list row row-cols-1 row-cols-md-2 row-cols-lg-12 g-4 anim-list">
                      <div class="col">
                        <div class="item item-pricing-a rounded-sm anim-ready" data-anim-visible="">
                          <ul class="list-feature fp-sc fs-medium">
                            <li>
                              <div id="fullpage" class="title-desc">
                                <p id="EO-Font" class="scrollContent">
                                  صنایع ساختمان
                                </p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section hero-a fp-auto-height-responsive " data-section="DATA_services">
      <div class="section-title title-anim">
        <div data-anim-visible='zoom-in'>
          <h2 class="text">توانمندی ها</h2>
        </div>
      </div>
      <div class="section-body">
        <div class="hero-content section-content container content-width anim">
          <div class="item row justify-content-between">
            <div class="RESIZEAbout content-col col-12 col-md-8 font-mainMenu">
              <div class="col-12 col-lg-4">
                <div class="row justify-content-lg-start">
                  <div class="col-auto">
                    <nav class="nav-list" data-anim-visible='fade'>
                      <ul class="nav flex-column" style="padding-right:0 !important;">
                        <li class="nav-item">
                          <a class="nav-link" href="#" onclick="ShowContent_Advice()">مشاوره</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#" onclick="ShowContent_Design()">طراحی</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#" onclick="ShowContent_Construction_And_Supply()">ساخت و تأمین</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#" onclick="ShowContent_Implementation()">اجرا</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
            <!-- مشاوره -->
            <div class="content-col col-12 col-sm-10 col-md-10" id="Content_Advice" style="display:none">
              <div class="section-content">
                <div class="row mt-4">
                  <div class="col col-12 col-lg-12">
                    <div class="item-list row row-cols-1 row-cols-md-2 row-cols-lg-12 g-4 anim-list">
                      <div class="col">
                        <div class="item item-pricing-a rounded-sm anim-ready anim-visible" data-anim-visible="">
                          <ul class="list-feature fp-sc fs-medium">
                            <li>
                              <div class="title-desc">
                                <p id="EO-Font" class="scrollContent">
                                  مشاوره
                                </p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- طراحی -->
            <div class="content-col col-12 col-sm-10 col-md-10" id="Content_Design" style="display:none">
              <div class="section-content">
                <div class="row mt-4">
                  <div class="col col-12 col-lg-12">
                    <div class="item-list row row-cols-1 row-cols-md-2 row-cols-lg-12 g-4 anim-list">
                      <div class="col">
                        <div class="item item-pricing-a rounded-sm anim-ready anim-visible" data-anim-visible="">
                          <ul class="list-feature fp-sc fs-medium">
                            <li>
                              <div class="title-desc">
                                <p id="EO-Font" class="scrollContent">
                                  طراحی
                                </p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>              
            <!-- ساخت و تأمین -->
            <div class="content-col col-12 col-sm-10 col-md-10" id="Content_Construction_And_Supply" style="display:none">
              <div class="section-content">
                <div class="row mt-4">
                  <div class="col col-12 col-lg-12">
                    <div class="item-list row row-cols-1 row-cols-md-2 row-cols-lg-12 g-4 anim-list">
                      <div class="col">
                        <div class="item item-pricing-a rounded-sm anim-ready anim-visible" data-anim-visible="">
                          <ul class="list-feature fp-sc fs-medium">
                            <li>
                              <div class="title-desc">
                                <p id="EO-Font" class="scrollContent">
                                  ساخت و تأمین
                                </p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>              
            <!-- اجرا -->
            <div class="content-col col-12 col-sm-10 col-md-10" id="Content_Implementation" style="display:none">
              <div class="section-content">
                <div class="row mt-4">
                  <div class="col col-12 col-lg-12">
                    <div class="item-list row row-cols-1 row-cols-md-2 row-cols-lg-12 g-4 anim-list">
                      <div class="col">
                        <div class="item item-pricing-a rounded-sm anim-ready anim-visible" data-anim-visible="">
                          <ul class="list-feature fp-sc fs-medium">
                            <li>
                              <div class="title-desc">
                                <p id="EO-Font" class="scrollContent">
                                  اجرا
                                </p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>              
          </div>
        </div>
      </div>
    </section>

    <section class="section hero-a fp-auto-height-responsive " data-section="DATA_rd">
      <div class="section-title title-anim">
        <div data-anim-visible='zoom-in'>
          <h2 class="text">تحقیق و توسعه</h2>
        </div>
      </div>
      <div class="section-body">
        <div class="hero-content section-content container content-width anim">
          <div class="item row justify-content-between">
            <div class="RESIZEAbout content-col col-12 col-md-8 font-mainMenu">
              <div class="col-12 col-lg-4">
                <div class="row justify-content-lg-start">
                  <div class="col-auto">
                    <nav class="nav-list" data-anim-visible='fade'>
                      <ul class="nav flex-column" style="padding-right:0 !important;">
                        <li class="nav-item">
                          <a class="nav-link" href="#" onclick="ShowContent_Innovations()">نوآوری ها</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#" onclick="ShowContent_ResearchServices()">خدمات پژوهشی</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#" onclick="ShowContent_Collaborate_On_Ideas()">همکاری در ایده</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
            <!-- نوآوری ها -->
            <div class="content-col col-12 col-sm-10 col-md-10" id="Content_Innovations"
              style="display:none">
              <div class="section-content">
                <div class="row mt-4">
                  <div class="col col-12 col-lg-12">
                    <div class="item-list row row-cols-1 row-cols-md-2 row-cols-lg-12 g-4 anim-list">
                      <div class="col">
                        <div class="item item-pricing-a rounded-sm anim-ready anim-visible" data-anim-visible="">
                          <ul class="list-feature fp-sc fs-medium">
                            <li>
                              <div class="title-desc">
                                <p id="EO-Font" class="scrollContent">
                                  نوآوری ها
                                </p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- خدمات پژوهشی -->
            <div class="content-col col-12 col-sm-10 col-md-10" id="Content_ResearchServices"
              style="display:none">
              <div class="section-content">
                <div class="row mt-4">
                  <div class="col col-12 col-lg-12">
                    <div class="item-list row row-cols-1 row-cols-md-2 row-cols-lg-12 g-4 anim-list">
                      <div class="col">
                        <div class="item item-pricing-a rounded-sm anim-ready anim-visible" data-anim-visible="">
                          <ul class="list-feature fp-sc fs-medium">
                            <li>
                              <div class="title-desc">
                                <p id="EO-Font" class="scrollContent">
                                  خدمات پژوهشی
                                </p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- همکاری در ایده -->
            <div class="content-col col-12 col-sm-10 col-md-10" id="Content_Collaborate_On_Ideas"
              style="display:none">
              <div class="section-content">
                <div class="row mt-4">
                  <div class="col col-12 col-lg-12">
                    <div class="item-list row row-cols-1 row-cols-md-2 row-cols-lg-12 g-4 anim-list">
                      <div class="col">
                        <div class="item item-pricing-a rounded-sm anim-ready anim-visible" data-anim-visible="">
                          <ul class="list-feature fp-sc fs-medium">
                            <li>
                              <div class="title-desc">
                                <p id="EO-Font" class="scrollContent">
                                  همکاری در ایده
                                </p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>              
          </div>
        </div>
      </div>
    </section>

    <section class="section section-a fp-auto-height-responsive " data-section="DATA_contact">
      <div class="section-title title-anim">
        <div data-anim-visible='zoom-in'>
          <h2 class="text">تماس با ما</h2>
        </div>
      </div>
      <!-- Begin of section body -->
      <div class="section-body section-contact">
        <!-- content -->
        <div class="section-content container content-width-md content-width-lg anim">
          <div class="row mt-4 anim-4">

            <div class="col-12 col-lg-4 mb-4 text-right">
              <div itemprop="department" itemscope itemtype="https://schema.org/Place" data-anim-visible='fade'>
                <h3 class="dep-name" itemprop="name">
                  <strong>آدرس کارخانه</strong>
                </h3>
                <div class="dep-address" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                  <div class="addr-line">
                    <span itemprop="streetAddress">شهرک صنعتی بزرگ شیراز</span>
                  </div>
                  <div class="addr-line">
                    <!-- <span itemprop="postalCode">98000</span> -->
                    <span itemprop="addressLocality">میدان اول، انتهای بلوار کارگر جنوبی</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-4">
              <div class="row justify-content-lg-start">
                <h4 class="dep-name" itemprop="name">
                  <strong>پیوند ها</strong>
                </h4>
                <div class="col-auto">
                  <nav class="nav-list" data-anim-visible='fade'>
                    <ul class="nav flex-column" style="padding-right:0 !important;">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#DATA_spc">سازه پیوند</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#DATA_industries">فعالیت ها</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#DATA_services">توانمندی ها</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#DATA_rd">تحقیق و توسعه</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-4 mb-4 text-right">
              <div itemprop="department" itemscope itemtype="https://schema.org/Place" data-anim-visible='fade'>
                <h4 class="dep-name" itemprop="name">
                  <strong>ارتباط با ما</strong>
                </h4>
                <div class="dep-address" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                  <div class="addr-line">ایمیل : <span class="FONT-EN">info@sazehpeyvand.ir</span></div>
                  <div class="addr-line">شماره تماس : <span class="FontContact-Color">37743981-071</span></div>
                  <div class="addr-line">روابط عمومی : <span class="FontContact-Color">09170006620</span></div>
                  <div class="addr-line">آخرین بروزرسانی : <span
                      class="FontContact-Color FontHighlight-background">1401/05/20</span></div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- End of section body -->

    </section>

</main>
<!-- END OF page main content -->