  <!-- BEGIN OF page cover -->
  <div class="cover-page">

    <!-- START - Arrows scroll down/up -->
    <footer class="hero-footer">
      <div class="section-footer-center footer-scrolldown">
        <a class="btn-scrolldown-a" href="#">
          <span class="icon icon-scrolldown"></span>
        </a>
      </div>
    </footer>
    <!-- END - Arrows scroll down/up -->   

    <!-- BEGIN OF page cover -->
    <div class="cover-page">
      <!-- Cover Background -->

      <div class="cover-bg video-container">
        <video autoplay="autoplay" loop="loop" muted="muted" width="1920" height="1080">
          <source src="../../../../assets/vid/spc_mute.mp4" type="video/mp4">
        </video>
      </div>
      <!-- Gradient mask -->
      <div class="cover-bg bg-dark opacity-5"></div>
    </div>
    <!--END OF page cover -->

    <!-- Cover Background -->
    <!-- <div class="cover-bg">
      <img class="fit" src="img/bg-default.webp" alt="گروه صنعتی سازه پیوند">
    </div> -->

  <!-- Transluscent mask as filter -->

  <!-- Gradient mask -->
  <!-- <div class="cover-bg bg-gradient-primary opacity-8"></div> -->
  <div class="cover-bg bg-dark opacity-3"></div>
    <div class="cover-bg bg-dark opacity-3">
      <!-- cover-line-a -->
      <div class="cover-line-a with-sep">

      </div>
      <!-- / cover-line-a -->

      <!-- cover-line-b -->
      <div class="cover-line-b with-sep">

      </div>
      <!-- / cover-line-b -->

      <!-- cover-line-c -->
      <div class="cover-line-c with-sep">

      </div>
      <!-- / cover-line-c -->
    </div>
</div>
<!--END OF page cover -->